.container {
    background-color: lightblue;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 960px;
}

.box {
    color: red;
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}