.header {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 970px;
}

.inputSizer {
    width: 200px;
}

.sizer {
    background-color: lightblue;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    
    
}

.container {
    background-color: lightblue;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 5px solid black;
}

.box {
    color: red;
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}
